body {
    font-family: sans-serif;
    background-color: black;
}

.header {
    font-size: 4em;
    text-align: center;
    color: white;
}

.pokemon-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.5s;
}

.pokemon-card:hover {
    transform: scale(1.01);
    border: 4px solid dodgerblue;
    cursor: pointer;
}

.pokemon-card > img {
    height: 300px;
    width: 300px;
}

#container {
    display: flex;
    justify-content: center;
    gap: 1%;
}

#roster {
    display: flex;
    justify-content: center;
}

div[id^="pokemon-"] {
    height: 100px;
    width: 100px;
    border 1px solid #ccc;
}
